@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');
@import url('https://fonts.googleapis.com/css?family=Inter');

/*-- scss:defaults --*/
// Base document colors
$headings-font-family: 'Cabinet grotesk';
$font-family-sans-serif: 'Inter';
$code-color: #0c3450ff;
$link-color: #eb8339ff;
$navbar-bg: #0c3450ff;
// $kbd-color: #0c3450ff;
// $kbd-bg: #0c3450ff;
// $pre-color: #047eaaff;
